<!-- views/postpage.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-red-500 rounded-[30vw] ml-3  pl-[20vw] pr-[20vw]">
<div class="bg-white pl-4 pl-4 ">
    <h1 class="text-blue-500 mt-[10vw] text-[4vw] "><%= post.title %></h1>
<hr>
    <p><%= post.content %></p>

    <h2 class="mt-4">Comments</h2>
    <form action="/posts/<%= post.id %>/comments" method="POST">
        <textarea name="content" placeholder="Add a comment" required></textarea>
        <button type="submit">Submit Comment</button>
    </form>

    <ul class="pb-9">
        <% post.comments.forEach(comment => { %>
            <li><%= comment.content %></li>
        <% }); %>
    </ul>

    <a class="rounded-lg  text-white bg-blue-800 ml-2 pl-2 pr-5"   href="/newpost">Create New Post</a>
    <a class="rounded-lg  text-white bg-blue-800 ml-9 pl-5 pr-5" href="/posts">All posts</a>
</div>
</body>
</html>
